body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

h1 {
  margin-bottom: 0.75em;
}

label {
  margin-left: auto;
}

time,
em {
  display: block;
}

em {
  color: gray;
}