#map {
  width: 100%;
  height: 70vh;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
    pointer-events: auto;
}